<?xml version="1.0"?>
<appSettings>
  <!--
    Please Dont remove the following 1 settings, these are needed by the architecture
    -->
  <add key="CslaAuthentication" value="WindowsCsla" />  
  <!--<add key="DalManagerType" value="BES.PSA.DALMOCK.DalMockManager,BES.PSA.DALMOCK"/>-->
  <add key="DalManagerType" value="BES.PSA.DALSQL.DalManager, BES.PSA.DALSQL"/>
  <add key="DefaultConnection" value="DOTNETCONN" />
  <add key="endpointRestBesCommon" value="http://hul-aps20/BES.Common.Service/"/>
  <!--  
    Application Settings Start
    _______________________________________________________________________________________________________________    
  -->  
  <!--
      == put your settings here ==
      <add key="mysetting" value="myvalue"/>
  -->
  <!--
    Application Settings End
    _______________________________________________________________________________________________________________
  -->
</appSettings>