<?xml version="1.0" encoding="utf-8"?>
<AzAdminManager MajorVersion="1" MinorVersion="0" Description="BES PSA Module">
  <AzApplication Guid="ef6fe02a-dfc6-40f6-a45b-48f392baae51" Name="PSA" Description="BES Application to do" ApplicationVersion="">
    <AzTask Guid="9a46621a-13ae-480f-9958-693e65b20ee0" Name="PSA_Administrator" Description="" BizRuleImportedPath="" RoleDefinition="True">
      <TaskLink>80a1a3fd-edab-4488-ab55-3f18d8b9b333</TaskLink>
      <TaskLink>990516ad-f25c-4604-86b4-13c80a5947a6</TaskLink>
      <TaskLink>d39ed5d3-f8ad-4a64-bc33-6ee4da074f2d</TaskLink>
    </AzTask>
    <AzTask Guid="7cc264b8-48cd-4cf6-9922-328932838f66" Name="PSA_User" Description="" BizRuleImportedPath="" RoleDefinition="True">
      <TaskLink>990516ad-f25c-4604-86b4-13c80a5947a6</TaskLink>
      <TaskLink>d39ed5d3-f8ad-4a64-bc33-6ee4da074f2d</TaskLink>
    </AzTask>
    <AzOperation Guid="b4457191-da1e-44cb-8550-28897f5e262e" Name="DummyUserSettings" Description="">
      <OperationID>3</OperationID>
    </AzOperation>
    <AzOperation Guid="c4b185a8-bcfb-48a5-b65f-e9b21f9b0751" Name="DummyLookAndFeel" Description="Sets the skin for the user">
      <OperationID>1</OperationID>
    </AzOperation>
    <AzOperation Guid="02ffef9d-d052-4f57-b766-7588c682e5ce" Name="DummyModuleSettings" Description="Settings for the module">
      <OperationID>2</OperationID>
    </AzOperation>
    <AzTask Guid="d39ed5d3-f8ad-4a64-bc33-6ee4da074f2d" Name="LookAndFeel" Description="" BizRuleImportedPath="">
      <OperationLink>c4b185a8-bcfb-48a5-b65f-e9b21f9b0751</OperationLink>
    </AzTask>
    <AzTask Guid="80a1a3fd-edab-4488-ab55-3f18d8b9b333" Name="ModuleSettings" Description="" BizRuleImportedPath="">
      <OperationLink>02ffef9d-d052-4f57-b766-7588c682e5ce</OperationLink>
    </AzTask>
    <AzTask Guid="990516ad-f25c-4604-86b4-13c80a5947a6" Name="UserSettings" Description="" BizRuleImportedPath="">
      <OperationLink>c4b185a8-bcfb-48a5-b65f-e9b21f9b0751</OperationLink>
    </AzTask>
    <AzRole Guid="7a8fc7dc-5c86-4d51-bb77-5489a66a1b63" Name="PSA_Administrator">
      <TaskLink>9a46621a-13ae-480f-9958-693e65b20ee0</TaskLink>
      <Member>S-1-5-21-2146773085-1678926577-1698245536-10698</Member>
    </AzRole>
    <AzRole Guid="1bbfaa15-0fef-4fed-8450-dfac12b54bb7" Name="PSA_User">
      <TaskLink>7cc264b8-48cd-4cf6-9922-328932838f66</TaskLink>
      <Member>S-1-5-21-2146773085-1678926577-1698245536-11090</Member>
    </AzRole>
  </AzApplication>
</AzAdminManager>
