<?xml version="1.0"?>
<behaviors>
  <serviceBehaviors>
    <behavior name="ImpersonationandMetadata">
      <serviceMetadata httpGetEnabled="true" />
      <serviceAuthorization impersonateCallerForAllOperations="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="WindowsAuthenticationBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceCredentials>
        <windowsAuthentication includeWindowsGroups="true" allowAnonymousLogons="false"/>
      </serviceCredentials>
      <serviceAuthorization principalPermissionMode="UseWindowsGroups" />
    </behavior>
    <behavior name="TcpBehavior">
      <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
      <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="returnFaults">
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
    <behavior name="ImpersonationBehavior">
      <clientCredentials>
        <windows allowedImpersonationLevel="Impersonation" />
      </clientCredentials>
    </behavior>
  </endpointBehaviors>
</behaviors>