<?xml version="1.0"?>
<HulaminConfig>
  <!-- Normal settings start -->
  <add key="ContactInfo" value="Developer at (033) 345"/>
  <add key="WhatHappened" value="There was an unexpected error in this application. This may be due to a programming bug."/>
  <add key="HowUserAffected" value="The current page or form will not load."/>
  <add key="WhatUserCanDo" value="Close your application, navigate back to this form or page, and try repeating your last action. Try alternative methods of performing the same action. If problems persist, contact (contact)."/>
  <add key="PageHeader" value="PSA Unhandled Exception"/>
  <add key="PageTitle" value=""/>
  
  <!-- Keep these two the same as per the BES.RA.UIL/app.config -->
  <add key="AppName" value="PSA Application"/>
  <add key="AppCode" value="PSA"/>
  
  <!-- Customized settings -->
  <add key="EnableLogging" value="true"/>
  <add key="EnableExceptionLogging" value="true"/>
  <add key="LogToEmail" value="true"/>
  <add key="LogToEventLog" value="true"/>
  <add key="LogToDatabase" value="true"/>
  <add key="LogToEmailAddress" value="SupportDotNet@hulamin.co.za"/>
  <add key="LogFromEmailAddress" value="PSA@hulamin.co.za"/>

  <!-- Path to the azman file relative from root -->
  <add key="AzmanFilePath" value="E:\inetpub\wwwroot\BES.Service.PSA\Azman.config"/>
  <add key="SMTPServer" value="localhost" />
  <add key="SMTPPort" value="25" />
</HulaminConfig>