<?xml version="1.0"?>
<services>
  <service behaviorConfiguration="TcpBehavior" name="Csla.Server.Hosts.WcfPortal">
    <endpoint binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig"
              name="WinWcfDataPortal" contract="Csla.Server.Hosts.IWcfPortal" >
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex"
              binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndpoint"
              contract="IMetadataExchange">
    </endpoint>
  </service>
 
</services>